@media (max-width: 1200px){

}





@media (max-width: 992px) {
    .logo {
        font-size: 18px;
    }
    .works_btn{
        margin-bottom: 58px;
    }

}






@media (max-width: 798px) {
    .logo {
        font-size: 20px;
    }

    .about__items {

    }

    .mob_menu_button {
        display: block;
    }

    .nav__item {
        display: none;
    }

    .numeral {
        margin-right: 80px;

    }
    .project_title{
        padding-top: -100px;
    }

    .svg_1{
        padding-left: 55px;
    }
    .about-btn{
        margin-left: 50px;
    }

    .about-title{
        font-size: 13px;
    }
    .about-description{
        font-size:14px;
    }
    .hero__content-title{
        font-size: 17px;
    }
    .testimoniols__title{
        font-size: 23px;
    }
    .testimoniols__description{
        font-size: 13px;
    }
    .link_{
        font-size: 13px;
    }
    .img_testimoniols{
        width: 485px;
        height: 315px;
        padding-right: 99px;
        padding-top: 20px;
    }
    .list_testimoniols{
        margin-top: 15px;
    }
    .vector_svg{
        margin-left: 115px;

    }
    .numeral{
        margin-right: 175px;

    }

    .number_title{
        margin-left: 115px;
        margin-bottom:-30px;
    }
    .works_title{
        font-size: 20px;
        margin-bottom: 58px;
    }
    .works_btn{
        margin-right: 38px;
        margin-top: -37px;
        margin-bottom: 58px;
    }

    .icons_items{
        display: flex;
    }
    .footer-title{
        padding-top: 100px;
    }
    .video_img{
        height: 600px;
        width: 500px;
    }
    .cols{
        display: contents;

    }
    .images{
        padding-left: 42px;
    }
    .project_btn{
        margin-top: 100px;
        margin-left: 45px;
    }
    .videos-img{
        width: 345px;
        height: 350px;
    }
    .videos_btn{
        width: 234px;
        height: 90px;
        font-size: 10px;
        margin-top: -30px;
    }
    .videos_btn span{
        height: 44px;
        width: 44px;
        padding-top: 4px;
    }
    .form-control{
        width: 190px;
    }
    .project_img{
        margin-bottom: 30px;
    }


}



@media (max-width: 576px) {
    .cols{
        display: contents;
        padding-top: 100px;

}

    .logo{
        font-size: 17px;
    }
    .work__description{
        text-align: center;
        color: #FFFFFF;
    }
    .svg_1{
        padding-left: 55px;
    }
    .about-btn{
        margin-left: 100px;
    }

    .about-title{
        font-size: 13px;
    }
    .about-description{
        font-size:14px;
    }
    .hero__content-title{
        font-size: 17px;
    }
    .testimoniols__title{
        font-size: 23px;
    }
    .testimoniols__description{
        font-size: 13px;
    }
    .link_{
        font-size: 13px;
    }
    .img_testimoniols{
        width: 485px;
        height: 315px;
        padding-right: 99px;
        padding-top: 20px;
    }
    .list_testimoniols{
        margin-top: 15px;
    }
    .vector_svg{
        margin-left: 115px;

    }
    .numeral{
        margin-right: 170px;

    }

    .number_title{
        margin-left: 115px;
        margin-bottom:-30px;
        }
    .works_title{
        font-size: 20px;
        color: #FFFFFF;
        margin-bottom: 58px;
    }
    .works_btn{
        margin-right: 38px;
        margin-top: -37px;
    }
    .work_link{
        color: #FFFFFF;
    }
    .work_number{
        color: #FFFFFF;
    }
    .icons_items{
        display: flex;
    }
    .footer-title{
        padding-top: 100px;
    }
    .video_img{
        height: 500px;
        width: 400px;
    }

}


@media (max-width: 250px) {
    .cols{
        display: contents;

    }
    .about-title {
        font-size: 10px;
    }

    .about-description {
        font-size: 10px;
    }
    .footer-title{
        padding-top: 100px;
    }
    .works_title{
        font-size: 15px;
        color: #FFFFFF;
        margin-bottom: 58px;
    }
    .works_btn{
        margin-right: 38px;
        margin-top: -37px;
    }
    .work_link{
        color: #FFFFFF;
    }
    .work_link:hover{
        color: #FFFFFF;

    }
    .work_number{
        color: #FFFFFF;
    }
}